:root {
    --color-principal: #d2d2c1;
    --color-menu: #c5c5b2;
    --color-link: #4b566a;
    --color-content: #e8e8d9;
    --color-headers: #828271;
    --color-borda-fotos: #c3c3ae;
}

/* Debug */
/* * {
    border: red 1px solid;
} */

body {
    background: var(--color-principal) url('../images/fundo.png');
    font-family: Arial, Helvetica, sans-serif;
}

#principal{ 
    width: 900px;
}

#principal h1 {
    color: var(--color-headers);
    font-size: 1.8rem;
}

#menu {
    background: var(--color-menu);
    padding: 2rem;
}

#menu a {
    color: var(--color-link);
    font-weight: bold;
    text-decoration: none;
    padding: .5rem;
}

article {
    background: var(--color-content);
    padding: 1rem;
}

footer {
   text-align: center;
}

.borda-foto {
    border: var(--color-borda-fotos) solid .5rem;
}